name: security-ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@3df4f59b21b44dfad1e772c5e4a513e06ce0c222  # commit-pinned

      - name: Setup Node
        uses: actions/setup-node@8f152c0ff7f67586069fdda622fbc98c2f4c2c4c
        with:
          node-version: 20

      - name: Install
        run: npm install

      - name: Secret Scan
        run: node scripts/scan-secrets.js

      - name: Env Check
        run: node scripts/check-env.js